.card {
  width: 70vw;
  text-align: left;
  font-size: 1.4rem;
}

h1 {
  text-align: center;
}

input,
textarea,
select {
  padding: 1rem;
  font-size: 1.4rem;
}

option {
  font-size: 1.6rem;
}

.item {
  height: 30px;
  padding: 0 5px;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

.item:hover {
  background-color: #121212;
  padding: 7px;
  transition: 0.3s;
}

label:not([for="remunerado"], [for="naoRemunerado"]) {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}
label {
  font-size: 1.6rem;
}

#div-remunerado {
  display: flex;
  flex-direction: row;
}

#input2 {
  width: 18rem;
  margin-left: 1rem;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.input1{
  margin-bottom: 1rem;
}
.input1:checked + label + #input2 {
  display: block;
}

.col-lg-12 {
  text-align: center;
}

.btn {
  width: 30%;
  font-size: 1.6rem;
  padding: .8rem;
  background: var(--primary-color);
}
