.card{
  width: 70vw;
  text-align: left;
}

h1{
  text-align: center;
}
a,p {
  font-size: 1.4rem;
}

input,textarea,select {
  padding: 1rem;
  font-size: 1.4rem;
} 



option{
  font-size: 1.6rem;
}

.item{
  height: 30px;
  padding: 0 5px;
  box-sizing: border-box;
  transition: .3s;
  cursor: pointer;
}

.item:hover{
  background-color: #121212;
  padding: 7px;
  transition: .3s;
}

label:not([for="remunerado"],[for="naoRemunerado"]) {
  margin-top: 2rem;
  margin-bottom:1rem;
}
label{
  font-size: 1.6rem;
}

#div-remunerado{
  display: flex;
  flex-direction: row;
}

#input2{
  width: 18rem;
  margin-left: 1rem;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}

.input1:checked + label + #input2{
  display: block;
}

.btn{
  display: block;
  width: 70%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  font-size: 1.8rem;
  margin-top: 2rem;
}
