<div id="main-container">
    <h1>Cadastre uma vaga</h1>
    <form [formGroup]="vagaForm" (ngSubmit)="submit()">
        <div class="full-box form-group">
            <label for="nome">Nome</label>
            <input type="text" placeholder="Digite o nome da vaga" formControlName="nome" required >
        </div>

        <div class="full-box">
            <label for="descricao">Descriçaõ da vaga</label>
            <input type="text" placeholder="Digite as responsabilidade da vaga" formControlName="descricao">
        </div>
        
        <div class="full-box">
            <label for="requisitos">Requisitos</label>
            <input type="text" placeholder="Digite os requisitos da vaga" formControlName="requisitos">
        </div>
        
        <div class="full-box">
            <label for="escolaridade">Escolaridade</label>
            <input type="text" placeholder="Digite o(s) curso(s) ou a formação necessaria para ocupa a vaga" formControlName="escolaridade">
        </div>
        
        <div class="half-box">
            <label for="area">Area</label>
            <input type="text" name="area" placeholder="digite a area da vaga" formControlName="area">
        </div>
        
        <div class="half-box">
            <label for="turno">Turno</label>
            <input type="text" name="turno" placeholder="digite o turno da vaga" formControlName="turno">
        </div>
        <div class="half-box">
            <label for="salario">Salario</label>
            <input type="text" name="turno" placeholder="digite o salario" formControlName="remunerado">
        </div>
        
        <div class="full-box">
            <label for="oberservacao">Observação</label>
            <input type="text" placeholder="digite alguma observação" formControlName="observacoes">
        </div>
        
        <input type="submit" class="button" value="{{btnText}}" [disabled]="!vagaForm.valid">
    </form>

    <div>{{vagaForm.value| json}}</div>
</div>    
