<div class="card">
  <div class="card-body">
      <form (ngSubmit)="submit()" [formGroup]="empresaForm">
        <input type="hidden" formControlName="id">
          <div class="form-group">
            <label for="email">E-mail corporativo</label>
            <input type="email" class="form-control" placeholder="Digite seu e-mail corporativo" formControlName="email"
              required>
            <div *ngIf="!email.pristine && email.errors && email.touched" class="validation-error" role="alert">
              <p *ngIf="email.errors?.['required']">O email é obrigatório!</p>
              <p *ngIf="email.errors?.['email']">Digite um e-mail válido</p>
              <p *ngIf="email.errors?.['emailInvalido']">O e-mail já foi cadastrado</p>
            </div>
          </div>
            <div class="form-group">
              <label for="nomeEmpresa">Nome do representante</label>
              <input type="text" class="form-control" placeholder="Digite seu nome" formControlName="nomeRepresentante">
              <div *ngIf="!nomeRepresentante.pristine && nomeRepresentante.errors && nomeRepresentante.touched" class="validation-error"
                role="alert">
                <p *ngIf="nomeRepresentante.errors?.['required']">O nome do representante é obrigatório!</p>
                <p *ngIf="nomeRepresentante.errors?.['minlength']">O nome do representante deve ter no mínimo 3 caracters!
                </p>
                <p *ngIf="nomeRepresentante.errors?.['maxlength']">O nome do representante deve ter no máximo 100
                  caracters!</p>
              </div>
            </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label for="nomeRepresentante">Nome da Empresa</label>
              <input type="text" class="form-control" placeholder="Digite o nome da empresa" formControlName="nomeEmpresa">
              <div *ngIf="!nomeEmpresa.pristine && nomeEmpresa.errors && nomeEmpresa.touched " class="validation-error" role="alert">
                <p *ngIf="nomeEmpresa.errors?.['required']">O nome da empresa é obrigatório!</p>
                <p *ngIf="nomeEmpresa.errors?.['minlength']">O nome da empresa deve ter no mínimo 3 caracters!</p>
                <p *ngIf="nomeEmpresa.errors?.['maxlength']">O nome da empresa deve ter no máximo 100 caracters!</p>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="cnpj">CNPJ</label>
              <input type="text" class="form-control" placeholder="Digite o CNPJ da empresa" formControlName="cnpj" mask="00.000.000/0000-00" required>
              <div *ngIf="!cnpj.pristine && cnpj.errors && cnpj.touched" class="validation-error" role="alert">
                <p *ngIf="cnpj.errors?.['required']">O CNPJ é obrigatório!</p>
                <p *ngIf="cnpj.errors?.['cnpjInvalido']">O CNPJ não é válido!</p>
                <p *ngIf="cnpj.errors?.['pattern']">Somente números!</p>
                <p *ngIf="cnpj.errors?.['cnpjExiste']">O CNPJ já foi cadastrado!</p>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="telefone">Telefone para contato</label>
              <input type="tel" class="form-control" placeholder="Digite o telefone para contato" formControlName="telefone"  mask="(00) 00000-0000">
              <div *ngIf="!telefone.pristine && telefone.errors && telefone.touched" class="validation-error" role="alert">
                <p *ngIf="telefone.errors?.['required']">O telefone da empresa é obrigatório!</p>
                <p *ngIf="telefone.errors?.['pattern']">Somente números!</p>
                <p *ngIf="telefone.errors?.['minlength'] || telefone.errors?.['maxlength']">O telefone da empresa precisa
                  ter 11 digitos!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="senha">Senha <span *ngIf="empresaData">(opcional)</span></label>
              <input type="password" class="form-control" placeholder="Digite sua senha" formControlName="senha">
              <div id="senhaHelp" class="form-text d-flex" *ngIf="empresaData"><p>Preencha o campo com a nova senha</p></div>
              <div id="senhaHelp" class="form-text d-flex "><p>A senha deve ter de 6-20 caracters</p></div>
              <div *ngIf="!senha.pristine && senha.errors && senha.touched" class="validation-error" role="alert">
                <p *ngIf="senha.errors?.['required']">A senha é obrigatória!</p>
                <p *ngIf="senha.errors?.['minlength']">A senha deve ter no mínimo 6 caracters!</p>
                <p *ngIf="senha.errors?.['maxlength']">A senha deve ter no máximo 20 caracters!</p>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="confirmeSenha">Confirmação de senha</label>
              <input type="password" class="form-control" placeholder="Digite a senha novamente"formControlName="confirmeSenha">
              <div *ngIf="!confirmeSenha.pristine && confirmeSenha.errors && confirmeSenha.touched" class="validation-error" role="alert">
                <p *ngIf="confirmeSenha.errors?.['required']">A Confirmação de senha é obrigatória!</p>
                <p *ngIf="confirmeSenha.errors?.['senhasNaoCombinam']">As senhas não coincidem!</p>
              </div>
            </div>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="msgSuccess">
            <p>{{msgSuccess}}</p>
          </div>
          <div id="buttonHelp" class="form-text"><p>Preencha todos os campos para liberar o botão!</p></div>
          <div  class="button-group">
            <button *ngIf="empresaData" class="btn btn-voltar" [routerLink]="['/empresa']">Voltar</button>
            <button   type="submit" class="btn btn-lg" [disabled]="!empresaForm.valid"> {{btnText}} </button>
          </div>
      </form>
    </div>
  </div>