<div id="main-container">
  <h1>Crie o perfil da sua empresa</h1>
  <form (ngSubmit)="submit()" [formGroup]="empresaForm">
    <div class="full-box">
      <label for="email">E-mail corporativo</label>
      <input type="email" placeholder="Digite seu e-mail corporativo" formControlName="email" required>
      <div *ngIf="!email.pristine && email.errors" class="validation-error">
        <p *ngIf="email.errors?.['required']">O email é obrigatório!</p>
        <p *ngIf="email.errors?.['email']">Digite um e-mail válido</p>
        <p *ngIf="email.errors?.['emailInvalido']">O e-mail já foi cadastrado</p>
      </div>
    </div>

    <div class="full-box">
      <label for="nomeEmpresa">Nome da sua empresa</label>
      <input type="text" placeholder="Digite seu nome" formControlName="nomeEmpresa">
      <div *ngIf="!nomeEmpresa.pristine && nomeEmpresa.errors " class="validation-error">
        <p *ngIf="nomeEmpresa.errors?.['required']">O nome da empresa é obrigatório!</p>
        <p *ngIf="nomeEmpresa.errors?.['minlength']">O nome da empresa deve ter no mínimo 3 caracters!</p>
        <p *ngIf="nomeEmpresa.errors?.['maxlength']">O nome da empresa deve ter no máximo 100 caracters!</p>
      </div>
    </div>
    <div class="full-box">
      <label for="nomeRepresentante">Seu nome</label>
      <input type="text" placeholder="Digite seu nome" formControlName="nomeRepresentante">
      <div *ngIf="!nomeRepresentante.pristine && nomeRepresentante.errors " class="validation-error">
        <p *ngIf="nomeRepresentante.errors?.['required']">O seu nome é obrigatório!</p>
        <p *ngIf="nomeRepresentante.errors?.['minlength']">O seu nome deve ter no mínimo 3 caracters!</p>
        <p *ngIf="nomeRepresentante.errors?.['maxlength']">O seu nome deve ter no máximo 100 caracters!</p>
      </div>
    </div>
    <div class="half-box">
      <label for="cnpj">CNPJ</label>
      <input type="text" placeholder="Digite seu CNPJ" formControlName="cnpj">
      <div *ngIf="!cnpj.pristine && cnpj.errors" class="validation-error">
        <p *ngIf="cnpj.errors?.['required']">O CNPJ da empresa é obrigatório!</p>
        <p *ngIf="cnpj.errors?.['cnpjInvalido']">O CNPJ não é válido!</p>
      </div>
    </div>
    <div class="half-box">
      <label for="telefone">Telefone para contato</label>
      <input type="tel" placeholder="Digite seu telefone" formControlName="telefone">
      <div *ngIf="!telefone.pristine && telefone.errors" class="validation-error">
        <p *ngIf="telefone.errors?.['required']">O telefone da empresa é obrigatório!</p>
        <p *ngIf="telefone.errors?.['pattern']">Somente números!</p>
        <p *ngIf="telefone.errors?.['minlength'] || telefone.errors?.['maxlength']">O telefone da empresa precisa ter 11 digitos!</p>
      </div>
    </div>

    <div class="half-box">
      <label for="senha">Senha</label>
      <input type="password" placeholder="Digite sua senha" formControlName="senha">
      <div *ngIf="!senha.pristine && senha.errors" class="validation-error">
        <p *ngIf="senha.errors?.['required']">A senha é obrigatória!</p>
        <p *ngIf="senha.errors?.['minlength']">A senha deve ter no mínimo 6 caracters!</p>
      </div>
    </div>
    <div class="half-box">
      <label for="confirmeSenha">Confirmação de senha</label>
      <input type="password" placeholder="Digite novamente sua senha" formControlName="confirmeSenha">
      <div *ngIf="!confirmeSenha.pristine && confirmeSenha.errors" class="validation-error">
        <p *ngIf="confirmeSenha.errors?.['required']">A Confirmação de senha é obrigatória!</p>
        <p *ngIf="confirmeSenha.errors?.['senhasNaoCombinam']">As senhas não coincidem!</p>
      </div>
    </div>

    <input type="submit" class="button" value="{{btnText}}" [disabled]="!empresaForm.valid">
  </form>
</div>