
.card{
  width: 80vw;
  text-align: center;
}
a,p {
  font-size: 1.4rem;
}

input {
  padding: 1rem;
  font-size: 1.4rem;
}

label, input {
  width: 100%;
  text-align: left;
}

label {
  margin-top: 2rem;
  margin-bottom:1rem;
  font-size: 1.3rem;
  
}


.row:nth-child(5){
  margin-bottom: 4rem;
}

.btn{
  background-color: var(--primary-color);
  font-size: 1.8rem;
  width: 40%;
}

.d-grid .btn{
  width: 25%;
  background-color: var(--primary-color);
  font-size: 1.8rem;
  margin: 2rem 1rem;
 
}
.d-grid .btn:nth-child(1){  
    background-color:#0d6efd;
}