
.card{
  width: 80vw;
  text-align: center;
}
a,p {
  font-size: 1.4rem;
}

input {
  padding: 1rem;
  font-size: 1.4rem;
}

label, input {
  width: 100%;
  text-align: left;
}

label {
  margin-top: 2rem;
  margin-bottom:1rem;
  font-size: 1.3rem;
  
}


.row:nth-child(5){
  margin-bottom: 4rem;
}

.btn{
  background-color: var(--primary-color);
  font-size: 1.8rem;
  width: 40%;
}

#buttonHelp{
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.btn{
  background-color: var(--primary-color);
  font-size: 1.8rem;
  margin: 2rem 1rem;
  width: 25%;
}
.btn-voltar{  
    background-color:#0d6efd;
}

@media (max-width: 600px) {
  .card{
    width: 95vw;
  }
  .btn{
    width: 50%;
  }
  #senhaHelp p{
    font-size: 1.2rem;
    text-align: left;
  }
  #buttonHelp{
    font-size: 1.2rem;
  }
} 