.card {
 
  align-items: center;
  text-align: center;
  background: #fff;
  color: var(--paragraph);
}

a{
  color: var(--primary-color);
  font-size: 4rem;
  text-align: left;
  text-decoration: none;
  padding-bottom: 2rem
}
fa-icon{
  padding: 2rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  width: 50rem;
}
.btn {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.btn{
  background-color: var(--primary-color);
}
.btn:first-child {
  margin-bottom: 2rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
}


@media (max-width: 590px) {
  .card{
    margin-top: 100px;
  }
  .buttons{
    width: 30rem;
  }
}