<main>
    <div class="card">
        <div class="card-body">
            <h1>Registro</h1>
            <div class="buttons">
                 <div class="row">
                    <a  [routerLink]="['/registro_aluno']"> <fa-icon [icon]="faUser" class="icon1"></fa-icon>Aluno</a>
                 </div>
                 <div class="row">
                      <a [routerLink]="['/registro_empresa']">  <fa-icon [icon]="faBuilding"> </fa-icon>Empresa </a>
                 </div>
            </div>
        </div>
    </div>
</main>