.card {
  width: 60vw;
  padding:3rem 3rem;
  border-radius: 1rem;
  align-items: center;
  text-align: center;
  background: #fff;
  color: var(--paragraph);
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 50rem;
}
.btn {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.btn:first-child {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
}
