

<main>
    
<div class="container">
    <div class="detail" *ngIf="vaga">
        <h1>{{vaga.nome}}</h1>
        <div class="description">
        <h2>Detalhes da vaga</h2>
        <p>{{vaga.descricao}}</p>
        </div>
        <div class="requirement">
        <h2>requisitos</h2>
        <p>{{vaga.requisitos}}</p>
        </div>
        <div class="escolaridade">
        <h2>Escolaridade</h2>
        <p>{{vaga.escolaridade}} </p>
        </div>
        <div class="turno">
        <h2>Turno</h2>
        <p>{{vaga.turno}}</p>
        </div>
        <div class="salario">
        <h2>Salario</h2>
        <p>{{vaga.remunerado}}</p>
        </div>
        <div class="observacoes">
        <h2 *ngIf="vaga.observacoes">Obeservação</h2>
        <p>{{vaga.observacoes}}</p>
        </div>
        <div *ngIf="msgError"  class="alert alert-danger">
            <p>{{msgError}}</p>
        </div>
        <div *ngIf="success == true && !msgError" class="alert alert-success">
            <p>Você se candidatou com sucesso</p>
        </div>
       
        <div class="btn-group">
            <button class="button" (click)="candidatar(vaga._id)">inscreve-se</button>
            <button class="button" [routerLink]="['/']">Voltar</button>
        </div>
    </div>
</div>

</main>