:root {
    --primary-color: hsl(220, 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --background:#e5e5e5;
    --paragraph: hsl(210, 9%, 31%);
    --graydisabled: hsl(0, 0%, 66%);
    --brand-beige: hsl(39, 100%, 97%);

    font-size: 62.5%;  /*1rem = 10px */
  }