
.card{
    margin-bottom: 2rem;
}
.card-body{
    display: flex;  
   
}
.col-50{
    margin: 2rem ;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.col-50:nth-child(2){
    justify-content: space-between;
    text-align: end;
   
   
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: end;
}


h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    margin: 1rem 0;
}

h2{
    font-weight: 600;
    font-size: 1.9rem;
    margin: 1rem 0;
}

p{
    margin-top: 1rem ;
    font-size: 1.7rem;
}
.col-50 .p1{
    text-align: justify;
}

button{
    background: var(--primary-color);
    margin-top: 1.5rem;
    width: 40%;
    font-size: 1.8rem;
}

.btn:hover {
    background-color: hsl(220, 70%, 20%);
    color: var( --brand-beige);
    transition: 1s;
}

@media (max-width: 1080px) {
    .col-50{
        margin: .3rem;
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 2.1rem;
    }

    p{
        font-size: 1.5rem;
    }

    button{
        width: 50%;
        font-size: 1.2rem;
    }
} 

@media (max-width:500px) {
    .card{
        width: 99vw;
        padding: 1rem;
    }
    h1{
        font-size: 1.7rem;
    }
    p{
        font-size: 1.3rem;
    }
    button{
        width: 70%;
        font-size: 1.2rem;
    }
    
}