<section class="listagem">
<div *ngIf="allVagas.length > 0; else noVagas">
    <div class="card-vagas" *ngFor="let vaga of allVagas">
        <div class="col-50">
            <h1>{{ vaga.nome }}</h1>
            <p class="p1">{{ vaga.descricao }}</p>
            <button class="button" [routerLink]="['vaga/detalhes']">Eu quero</button>      
        </div>
        <div class="col-50">
            <div class="salario">
                <h2>Salário</h2>
                <p *ngIf="vaga.remunerado==true;else naoremunerado">Remunerado</p>
                <ng-template #naoremunerado>
                    <p>Não remunerado </p>
                </ng-template>
            </div>
            <div class="foot">
                
                <p>{{vaga.createdAt}}</p>
            </div>
        </div>
    </div>
</div>
<ng-template #noVagas>
    <h1>Não há vagas cadastradas!</h1>
</ng-template>



</section>