
.navigation  {
  display: flex;
  height: 6.5rem;
  position: fixed;
  top: 0;

  width: 100vw;
  background-color: var(--primary-color);


}
.wrapper {
  display: flex;
  width: 100%;
  margin-inline: 3rem;

}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu ul {
  display: flex;
  gap: 2.2rem;
}
.menu ul li a {
  color: var( --brand-beige);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
}

.user-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var( --brand-beige);
}

.perfil-text{
  font-size: 1.2rem;
  margin-left: .9rem;
}

.login-register{
  margin-top: .6rem;
}


