<section class="listagem">
    <div class="card-vagas">
        <h1>programador web</h1>
        <ul>
            <li>empresa</li>
            <li>turno</li>
            <li>data</li>
        </ul>
        <button class="button">Eu quero</button>
    </div>
    <div class="card-vagas">
        <h1>programador web</h1>
        <ul>
            <li>empresa</li>
            <li>turno</li>
            <li>data</li>
        </ul>
        <button class="button">Eu quero</button>
    </div>
    <div class="card-vagas">
        <h1>programador web</h1>
        <ul>
            <li>empresa</li>
            <li>turno</li>
            <li>data</li>
        </ul>
        <button class="button">Eu quero</button>
    </div>
    <div class="card-vagas">
        <h1>programador web</h1>
        <ul>
            <li>empresa</li>
            <li>turno</li>
            <li>data</li>
        </ul>
        <button class="button">Eu quero</button>
    </div>


</section>