<section class="listagem">

    <div class="card-vagas">
        <div class="col-50">
            <h1>programador web</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

            <button class="button">Eu quero</button>      
        </div>
        <div class="col-50">
            <div class="salario">
                <h2>Salário</h2>
                <p>não remunerado</p>
            </div>
             <div class="foot">
                <p>area</p>
                <p>area</p>
                <p>area</p>
             </div>
        </div>
    </div>
    <div class="card-vagas">
        <div class="col-50">
            <h1>programador web</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

            <button class="button">Eu quero</button>      
        </div>
        <div class="col-50">
            <div class="salario">
                <h2>Salário</h2>
                <p>não remunerado</p>
            </div>
                <p>area</p>
                <p>area</p>
        </div>
    </div>
    <div class="card-vagas">
        <div class="col-50">
            <h1>programador web</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

            <button class="button">Eu quero</button>      
        </div>
        <div class="col-50">
            <div class="salario">
                <h2>Salário</h2>
                <p>não remunerado</p>
            </div>
                <p>area</p>
        </div>
    </div>
    <div class="card-vagas">
        <div class="col-50">
            <h1>programador web</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

            <button class="button">Eu quero</button>      
        </div>
        <div class="col-50">
            <div class="salario">
                <h2>Salário</h2>
                <p>não remunerado</p>
            </div>
                <p>area</p>
        </div>
    </div>


</section>