
*{
  font-size: 1.6rem;
  color: #fff;
  
}

#menu{
  padding: .9rem 2rem 1rem 5rem;
}

.navbar ul:nth-child(1) {
  
  gap: 1rem;
}

.icon{
  border: 2px solid #fff ;
  padding: .6rem;
  border-radius: 50%;
  font-size: 2rem;
  margin-right: .4rem;
}

.navbar{
  background-color: var(--primary-color);
}

#dropdownBasic1{
  cursor: pointer;
}

.menudrop button{
  color: black; 
}