.card{
  width: 80vw;
  text-align: center;
  
}
a,p {
  font-size: 1.8rem;
}

span{
  color: rgb(92, 89, 89);
}

input,textarea,select {
  padding: 1rem;
  font-size: 1.8rem;
  
}


label, input {
  width: 100%;
  text-align: left;
}

label {
  margin-top: 2rem;
  margin-bottom:1rem;
  font-size: 2rem;
  
}

.row-senha{
  margin-bottom: 3rem;
}



.btn{
  width: 25%;
  background-color: var(--primary-color);
  font-size: 2.4rem;
  margin: 1rem;
 
}
.btn-voltar{  
  background-color:#0d6efd;
}


@media (max-width: 950px) {

  a,p {
    font-size: 1.5rem;
  }
  
  input,select,textarea {
    font-size: 1.5rem;
  }

  label {
    font-size: 1.5rem;
    
  }

  .btn{
    font-size: 2rem;
  }

} 
@media (max-width: 700px) {

  .card{
    width: 95vw;
  }

  a,p {
    font-size: 1.5rem;
  }
  
  
  input,textarea,select {
    padding: 1rem;
    font-size: 1.5rem;
    
  }

  label{
    font-size: 1.5rem;
  }

  .btn{
    width: 60%;
    font-size: 2rem;
  }

 
} 

@media (max-width: 700px) {

  a,p {
    font-size: 1.3rem;
  }
  


 
} 