<div class="card">
  <div class="card-body">

  <form [formGroup]="alunoForm" (ngSubmit)="submit()">
    <input type="hidden" formControlName="id">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" placeholder="Digite seu e-mail" formControlName="email" required>
      <div *ngIf="!email.pristine && email.errors && email.touched" class="validation-error" role="alert">
        <p *ngIf="email.errors?.['required']">O email é obrigatório!</p>
        <p *ngIf="email.errors?.['email']">Digite um e-mail válido</p>
        <p *ngIf="email.errors?.['emailInvalido']">O e-mail já foi cadastrado</p>
      </div>
    </div>
   
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" placeholder="Digite seu nome" formControlName="nome">
      <div *ngIf="!nome.pristine && nome.errors && nome.touched " class="validation-error" role="alert">
        <p *ngIf="nome.errors?.['required']">O nome é obrigatório!</p>
        <p *ngIf="nome.errors?.['minlength']">Deve ter no mínimo 3 caracters!</p>
      </div>
    </div>

    <div class="row">
      
      <div class="form-group col-md-6">
        <label for="cpf">CPF</label>
        <input  type="text" class="form-control" placeholder="000.000.000-00" formControlName="cpf" mask="000.000.000-00">
        <!-- <div *ngIf="!cpf.pristine && cpf.errors && cpf.touched" class="validation-error" role="alert">
          <p *ngIf="cpf.errors?.['required']">O CPF é obrigatório!</p>
          <p *ngIf="cpf.errors?.['cpfInvalido']">O CPF não é válido!</p>
          <p *ngIf="cpf.errors?.['pattern']">Somente números!</p>
          <p *ngIf="cpf.errors?.['cpfExiste']">O CPF já foi cadastrado!</p>
        </div> -->
      </div>
      
      <div class="form-group col-md-6">
        <label for="telefone">Telefone para contato</label>
        <input type="tel" class="form-control" placeholder="Digite seu telefone" formControlName="telefone" mask="(00) 00000-0000">
        <div *ngIf="!telefone.pristine && telefone.errors && telefone.touched" class="validation-error" role="alert">
          <p *ngIf="telefone.errors?.['required']">O telefone é obrigatório!</p>
          <p *ngIf="telefone.errors?.['pattern']">Somente números!</p>
          <p *ngIf="telefone.errors?.['minlength'] || telefone.errors?.['maxlength']">O telefone precisa ter 11 digitos!
          </p>
        </div>
      </div>
     </div>
    <div class="row">
         
    <div class="form-group col-md-4">
      <label for="curso">Curso</label>
      <input type="text" class="form-control" list="curso" placeholder="Digite seu curso" formControlName="curso">
      <datalist id="curso">
        <option *ngFor="let item of cursos" value="{{item}}">
        </datalist>
      <div *ngIf="!curso.pristine && curso.errors  && curso.touched " class="validation-error" role="alert">
        <p *ngIf="curso.errors?.['required']">O curso é obrigatório!</p>
        <p *ngIf="curso.errors?.['minlength']">Deve ter no mínimo 3 caracters!</p>
      </div>
    </div>
   
    <div class="form-group col-md-4">
      <label for="periodo">Período</label>
      <input type="number" class="form-control" placeholder="Digite o período que você está cursando" formControlName="periodo" >
      <div id="buttonHelp" class="form-text d-flex"><p>Somente números!</p></div>
      <div *ngIf="!periodo.pristine && periodo.errors  && periodo.touched " class="validation-error" role="alert">
        <p *ngIf="periodo.errors?.['required']">O periodo é obrigatório!</p>
        <p *ngIf="periodo.errors?.['required']">Somente números!</p>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="turno">Turno</label>
      <select class="form-select"  name="turno" formControlName="turno">
        <option [ngValue]="null" disabled>Selecione o turno</option>
        <option>{{alunoData?.turno}}</option>
        <option *ngFor="let item of turnos">{{item}}</option>
      </select>
     
    </div>

    </div>

   <div class="row row-senha">
      <div class="form-group col-md-6">
        <label for="senha">Senha <span *ngIf="alunoData">(opcional)</span></label>
        <input type="password" class="form-control" placeholder="Digite sua senha" formControlName="senha">
        <div id="senhaHelp" class="form-text d-flex " *ngIf="alunoData"><p>Preencha o campo com a nova senha</p></div>
        <div id="senhaHelp" class="form-text d-flex "><p>A senha deve ter de 6-20 caracters</p></div>
        <div *ngIf="!senha.pristine && senha.errors" class="validation-error" role="alert">
          <p *ngIf="senha.errors?.['required']">A senha é obrigatória!</p>
          <p *ngIf="senha.errors?.['minlength']">A senha deve ter no mínimo 6 caracters!</p>
          <p *ngIf="senha.errors?.['maxlength']">A senha deve ter no máximo 20 caracters!</p>
          </div>
      </div>
     
      <div class="form-group col-md-6">
        <label for="confirmeSenha">Confirmação de senha</label>
        <input type="password" class="form-control" placeholder="Digite novamente sua senha" formControlName="confirmeSenha">
        <div *ngIf="!confirmeSenha.pristine && confirmeSenha.errors " class="validation-error" role="alert">
          <p *ngIf="confirmeSenha.errors?.['required']">A Confirmação de senha é obrigatória!</p>
          <p *ngIf="confirmeSenha.errors?.['senhasNaoCombinam']">As senhas não coincidem!</p>
        </div>
      </div>
    </div>
   
    <div class="alert alert-success" role="alert" *ngIf="msgSuccess">
      <p>{{msgSuccess}}</p>
    </div>
    <div id="buttonHelp" class="form-text"><p>Preencha todos os campos para liberar o botão!</p></div>
    <div  class="button-group">
      <button *ngIf="alunoData" class="btn btn-voltar" [routerLink]="['/']">Voltar</button>
      <button   type="submit" class="btn" [disabled]="!alunoForm.valid "> {{btnText}} </button>
    </div>
  </form>
  </div>
</div>