/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("./config-css/reset.css");
@import url("./config-css/btn.css");
@import url("./config-css/variable.css");

html{
   
    background: var(--background);
} 

main{
    max-width: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding-block: 9rem;
}
