.btn-novo {
  text-align: right;
  margin-bottom: 1rem;
}
.btn-novo .btn {
  font-size: 1.8rem;
}

.card {
  width: 90vw;
}
table {
  font-size: 2rem;
}
table .btn {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content1 {
  min-width: 75%;
}

.modal-content1 .table,
h5 {
  font-size: 1.8rem;
}

.modal th {
  font-weight: inherit;
}
.modal-footer .btn {
  width: 20%;
  font-size: 1.5rem;
}

.sendemail .modal-body textarea {
  padding: 1rem;
}

.novagas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.novagas h1 {
  font-size: 4rem;
}

.novagas .btn {
  width: 25%;
  margin-top: 2rem;
  font-size: 2rem;
}

.modal-body p {
  font-size: 1.8rem;
}

label,
h4 {
  font-size: 1.8rem;
  margin-bottom: 2px;
}

input,
textarea {
  font-size: 1.5rem;
}

#buttonHelp {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.sendemail .modal-body,
.sendemail input,
.sendemail label,
.sendemail textarea,p {
  font-size: 1.8rem;
}

@media (max-width: 1100px) {
  .btn-novo .btn,
  .table .btn {
    font-size: 1.5rem;
  }
  .table,.novagas .btn {
    font-size: 1.7rem;
  }

  .modal-content1 .table,
  h5 {
    font-size: 1.6rem;
  }

  
}

@media (max-width: 880px) {
  .novagas .btn {
    width: 60%;
  }

  .modal-content1 {
    min-width: 90%;
  }

  .modal-content1 .table,
  h5 {
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  .card {
    width: 100vw;
  }
  .btn-novo .btn,
  .table .btn {
    font-size: 1.3rem;
  }
  .table {
    font-size: 1.3rem;
  }

  .sendemail .modal-body,
  .sendemail input,
  .sendemail label,
  .sendemail textarea {
    font-size: 1.5rem;
  }

  .novagas h1{
    font-size: 3rem;
}
}

@media (max-width: 680px) {
  * {
    margin: 0px;
    padding: 0px;
  }

  .card {
    padding-top: 1rem;
    margin-top: 10rem;
  }
  .card-body {
    padding: 0;
  }

  .btn-novo {
    margin-right: 0.8rem;
  }

  .btn {
    padding: 0.5rem;
  }

  .table,
  .modal-content .modal-header {
    margin: 0.2rem;
    font-size: 1.4rem;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  .table .btn {
    font-size: 1.4rem;
  }

  .modeldelete,
  .sendemail {
    padding: 1rem;
    font-size: 1.4rem;
  }

  .modeldelete .modal-body,
  .sendemail .modal-body,
  .modal-content .modal-header {
    margin-bottom: 1rem;
  }

  .modal-content .modal-header {
    padding: 0.5rem;
  }

  .modal-content .modal-body {
    padding-bottom: 1rem;
  }

  .sendemail .modal-body label {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
  }
  .sendemail .modal-body input {
    padding: 1rem;
  }

  .modeldelete .modal-footer,
  .sendemail .modal-footer,
  .modal-content .modal-footer {
    padding: 1rem;
    gap: 1rem;
  }
  .modal-content .modal-footer .btn-send {
    width: 30%;
  }

  .sendemail .modal-footer .btn {
    padding: 0.8rem;
    font-size: 1.4rem;
  }

  .novagas h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .novagas .btn {
    width: 90%;
    font-size: 1.5rem;
    margin: .5rem;
  }
}

@media (max-width: 480px) {
  .btn-novo .btn,
  .table .btn {
    font-size: 1.2rem;
  }
  .table {
    font-size: 1.2rem;
  }
  .col-hidden {
    display: none;
  }

  .modal-content1 .table,
  h5 {
    font-size: 1.2rem;
  }
}
