@import "~bootstrap/dist/css/bootstrap.min.css";

.container{
    height: 100vh;
    padding:12rem 4rem;
    border-radius: 1rem; 
    font-size: 1.7rem;
    background: #fff;
}
table{
    margin-top: 1rem;
    width: 100%;
}
