:root {
    --hue:220;
    --primary-color: hsl(var(--hue), 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
  
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(var(--hue) - 22, 23%, 89%);
    --brand-dark: hsl(var(--hue), 100%, 14%);
  
    --bg-light:hsl(180, 14%, 97%);
  
    font-size: 62.5%;  /*1rem = 10px */
  }