
table{
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.novagas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.novagas .btn{
    margin-top: 1rem;
    width: 40%;
    font-size: 1.6rem;

}